AUTH_DB_URL=jdbc:postgresql://ep-xxx.aws.neon.tech/sawit_auth?sslmode=require
AUTH_DB_USER=neondb_owner
AUTH_DB_PASSWORD=password_neon_anda


JWT_SECRET=rahasia_jwt_super_panjang_sekali_minimal_32_karakter_ya